.album-title{
  text-decoration: underline;
  font-size: 42px;
}

.artist{
  font-size:38px;
}
.year{
  font-size: 26px;
}
.songs, .genre, .units{
  font-size: 22px;
}







/*=================================================================*/

.ibmplexserif {
  font-family: 'IBM Plex Serif', serif;
}
.neutron {
  font-family: 'Neuton', serif;
}
.nunito {
  font-family: 'Nunito', sans-serif;
}
.orbitron {
  font-family: 'Orbitron', sans-serif;
}
.pressstart2p {
  font-family: 'Press Start 2P', cursive;
}
.rajdhani {
  font-family: 'Rajdhani', sans-serif;
}
.sairasemicondensed {
  font-family: 'Saira Semi Condensed', sans-serif;
}
.sanchez {
  font-family: 'Sanchez', serif;
}
.tangerine {
  font-family: 'Tangerine', cursive;
}

.test1{
  border: red solid 2px;
}

.test2{
  border: blue solid 2px
}

.test3{
  border: green solid 2px;
}
