<!--=================================================================================================================================-->


<div class="container">
  <div *ngFor="let album of albums">
    <div class="row my-4">
      <div class="col-6">
        <img class="img-fluid" bind-src="album.cover">
      </div>

      <div class="col-6">
        <h1><span class="album-title">{{album.title | uppercase}}</span></h1>
        <p><span class="artist">{{album.artist}}</span></p>
        <p><span class="year">{{album.year}}</span></p>
        <p>
          <span class="songs">
          <p>Song List:</p>
            <ol>
              <li *ngFor="let song of album.songs">
                <p>{{song}}</p>
              </li>
            </ol>
          </span>
        </p>
        <p><span class="genre">Genre(s): {{album.genre}}</span></p>
        <p><span class="units" *ngIf="album.units">Worldwide units sold: {{album.units | number}}</span></p>

      </div>
    </div>

  </div>


</div>

<div class="container-fluid m-3 mr-3">
  <div class="row">
    <div class="col-12">
<!--      <div class="">-->
        <div class="text-center">
          <button (click)="toggle($event)">
            <i [ngClass]="albumFormSwitch ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
            &nbsp; Add new album &nbsp;
            <i [ngClass]="albumFormSwitch ? 'fa fa-arrow-up' : 'fa fa-arrow-down'"></i>
          </button>
        </div>
        <form #albumform="ngForm" (ngSubmit)="onSubmit(albumform)">

            <div *ngIf="albumFormSwitch" >
              <div class="col-12 text-center mt-2" *ngIf="albumform.form.valid">
                <button (click)="addAlbum($event)" class="btn-primary" [disabled]="!albumform.form.valid">Submit</button>
              </div>

<!--              <p>formtitle.errors?.required: {{formtitle.errors?.required}}</p>-->
<!--              <p>formtitle.errors?.minlength: {{formtitle.errors?.minlength}}</p>-->

<!--              <p>formartist.errors?.required: {{formartist.errors?.required}}</p>-->
<!--              <p>formartist.errors?.minlength: {{formartist.errors?.minlength}}</p>-->

<!--              <p>albumform.form.valid: {{albumform.form.valid}}</p>-->

                <div class="container">
<!--                    <div class="form-group">-->

                       <div class="form-group">

                            <label>Title:</label>
                            <input
                              id="title"
                              type="text"
                              class="form-control"
                              name="title"
                              [(ngModel)]="newAlbum.title"
                              #formtitle="ngModel"
                              [ngClass]="{'is-invalid': formtitle.errors && formtitle.touched}"
                              required
                              minlength="2">
      <!--                      <div [hidden]="!formtitle.errors?.required === true" class="invalid-feedback">Album title required 1</div>-->
      <!--                      <div [hidden]="formtitle.errors?.required === true" class="invalid-feedback">Album title required 2</div>-->
      <!--                      <div [hidden]="formtitle.errors?.required" class="invalid-feedback">Album title required 3</div>-->
                            <div [hidden]="!formtitle.errors?.required" class="invalid-feedback">Album title required</div>

      <!--                      <div [hidden]="!formtitle.errors?.required !== true" class="invalid-feedback">Album title required 5</div>-->
      <!--                      <div [hidden]="formtitle.errors?.required !== true" class="invalid-feedback">Album title required 6</div>-->

      <!--                      <div *ngIf="!formtitle.errors?.required !== true" class="invalid-feedback">Album title required 7</div>-->
      <!--                      <div *ngIf="formtitle.errors?.required === true" class="invalid-feedback">Album title required 8</div>-->



                            <div [hidden]="!formtitle.errors?.minlength" class="invalid-feedback">Minimum length: 2</div>




<!--                      </div>-->
<!--                      <div class="form-group" >-->

                        <label>Artist:</label> <input type="text" class="form-control" name="artist" id="artist" [(ngModel)]="newAlbum.artist" #formartist="ngModel" [ngClass]="{'is-invalid': formartist.errors && formartist.touched}" required minlength="2" >
                        <div [hidden]="!formartist.errors?.required" class="invalid-feedback">Artist/Band name required</div>
                        <div [hidden]="!formartist.errors?.minlength" class="invalid-feedback">Minimum length: 2</div>

                         <label>Year:</label> <input type="number" class="form-control" name="year" [(ngModel)]="newAlbum.year" required #formyear="ngModel">

<!--                         <label>Year:</label> <input type="date" class="form-control" name="year" [(ngModel)]="newAlbum.year" required minlength="8" #formyear="ngModel">-->
<!--                         <div [hidden]="!formyear.errors?.minlength || !formyear.errors?.required" class="invalid-feedback">Format: mm/dd/yyyy</div>-->

                        <label>Genre(s):</label> <input type="text" class="form-control" name="genre" [(ngModel)]="newAlbum.genre">
                         <label>Units sold:</label> <input type="number" class="form-control"name="units" [(ngModel)]="newAlbum.units">
                        <label>Cover Art:</label> <input type="text" class="form-control" [disabled]="true">
                      </div>
<!--                    </div>-->
                </div>

                  <div class="col-12 text-center my-2">
                    <button (click)="songDown($event)" [disabled]="songlistvar2 <=  1">Decrease</button>
                  </div>

<!--                    <div *ngFor="let test of songlistvar1">-->
                  <div class="row">
                        <div class="col-4" *ngIf="songlistvar2 >= 1">Song 1: <input type="text" class="form-control" name="song1" [(ngModel)]="this.songlist[0]" required=""></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 2">Song 2: <input type="text" class="form-control" name="song2" [(ngModel)]="this.songlist[1]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 3">Song 3: <input type="text" class="form-control" name="song3" [(ngModel)]="this.songlist[2]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 4">Song 4: <input type="text" class="form-control" name="song4" [(ngModel)]="this.songlist[3]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 5">Song 5: <input type="text" class="form-control" name="song5" [(ngModel)]="this.songlist[4]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 6">Song 6: <input type="text" class="form-control" name="song6" [(ngModel)]="this.songlist[5]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 7">Song 7: <input type="text" class="form-control" name="song7" [(ngModel)]="this.songlist[6]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 8">Song 8: <input type="text" class="form-control" name="song8" [(ngModel)]="this.songlist[7]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 9">Song 9: <input type="text" class="form-control" name="song9" [(ngModel)]="this.songlist[8]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 10">Song 10: <input type="text" class="form-control" name="song10" [(ngModel)]="this.songlist[9]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 11">Song 11: <input type="text" class="form-control" name="song11" [(ngModel)]="this.songlist[10]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 12">Song 12: <input type="text" class="form-control" name="song12" [(ngModel)]="this.songlist[11]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 13">Song 13: <input type="text" class="form-control" name="song13" [(ngModel)]="this.songlist[12]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 14">Song 14: <input type="text" class="form-control" name="song14" [(ngModel)]="this.songlist[13]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 15">Song 15: <input type="text" class="form-control" name="song15" [(ngModel)]="this.songlist[14]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 16">Song 16: <input type="text" class="form-control" name="song16" [(ngModel)]="this.songlist[15]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 17">Song 17: <input type="text" class="form-control" name="song17" [(ngModel)]="this.songlist[16]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 18">Song 18: <input type="text" class="form-control" name="song18" [(ngModel)]="this.songlist[17]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 19">Song 19: <input type="text" class="form-control" name="song19" [(ngModel)]="this.songlist[18]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 20">Song 20: <input type="text" class="form-control" name="song20" [(ngModel)]="this.songlist[19]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 21">Song 21: <input type="text" class="form-control" name="song21" [(ngModel)]="this.songlist[20]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 22">Song 22: <input type="text" class="form-control" name="song22" [(ngModel)]="this.songlist[21]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 23">Song 23: <input type="text" class="form-control" name="song23" [(ngModel)]="this.songlist[22]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 24">Song 24: <input type="text" class="form-control" name="song24" [(ngModel)]="this.songlist[23]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 25">Song 25: <input type="text" class="form-control" name="song25" [(ngModel)]="this.songlist[24]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 26">Song 26: <input type="text" class="form-control" name="song26" [(ngModel)]="this.songlist[25]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 27">Song 27: <input type="text" class="form-control" name="song27" [(ngModel)]="this.songlist[26]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 28">Song 28: <input type="text" class="form-control" name="song28" [(ngModel)]="this.songlist[27]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 29">Song 29: <input type="text" class="form-control" name="song29" [(ngModel)]="this.songlist[28]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 30">Song 30: <input type="text" class="form-control" name="song30" [(ngModel)]="this.songlist[29]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 31">Song 31: <input type="text" class="form-control" name="song31" [(ngModel)]="this.songlist[30]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 32">Song 32: <input type="text" class="form-control" name="song32" [(ngModel)]="this.songlist[31]"></div>
                        <div class="col-4" *ngIf="songlistvar2 >= 33">Song 33: <input type="text" class="form-control" name="song33" [(ngModel)]="this.songlist[32]"></div>



<!--                    </div>-->
                        <div class="col-12 text-center my-2">
                          <button (click)="songUp($event)" [disabled]="songlistvar2 >=33">Increase</button>
                        </div>

                        <br>



                  </div>
            </div>
        </form>
<!--      </div>-->
    </div>
  </div>
</div>
